html,
body {
    padding:0;
    margin:0;
    width:100%;
    height:100%;
}

html {
    font-family: Helvetica, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

video { 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
   background: #000000; 
  background-size: cover;
  transition: 1s opacity;
}


h1 {
    clear: both;
	color: #FFFFFF;
    text-align: center;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 40%;
    margin: 0 auto;
}

#JoinButton {
    border-radius: 100em;
    margin: 0;
    border-top: 10px #FFF solid;
    border-bottom: 10px #FFF solid;
    padding: 100px;
    opacity: 0.75;
    filter: alpha(opacity=75);
}


bio,
social_twitter,
social_facebook,
apple {
    font-family: monaco;
    font-size: 9px;
    color: #000000;
    position: relative;
    top: 5px;
    margin: 0 0 0 5px;
    height: 20px;
}

bio {
    position: absolute;
    left: 0;
    width: 100%;
    height: 20px;
    overflow: visible;
    text-align: right;
    margin: 0;
    padding: 0;
}

social_twitter,
social_facebook,
apple {
    font-size: 10px;
    text-align: left;
    float: left;
}

social_twitter {
    width: 100px;
}

#hideaway {
    display:none;
    border:0px;
    margin:0px;
    position: absolute;
    top: -5px;
    left: 0;
    width: 320px;
    text-align: left;
}

@media only screen and (max-width : 1000px) {
    h1 {
        text-align: center;
    }
    #MessagePrefix,
    #MessagePostfix {
        display: block;
        width: 100%;
        text-align:center;
        margin: 10px 0 5px 0;
    }
    #JoinButton { display: inline-block; }
}

@media only screen
and (max-width : 600px) {
    #MessagePrefix,
    #MessagePostfix {
        font-size: .7em;
    }
    #MessagePrefix,
    #MessagePostfix,
    #JoinButton {
        display: block;
        text-align:center;
    }
}

@media only screen
and (max-width : 400px) {
    #AboutButton span { display: none; }
    #hideaway { width: auto; padding: 0; margin: 0; }
    #AboutContent { width: inherit; border: none; border-bottom: 1px solid #fff;  }
}

@media only screen
and (max-device-width : 800px) {
    html,
    body {
        height:95%;
    }
}

/* all new styles after this point */


#info-btn {
    width: 38px;
    height: 37px;
    position: absolute;
    cursor: pointer;
    z-index: 9;
    top: 16px;
    right: 16px;
    background: url("https://s3.amazonaws.com/thirtysecondstories.com/images/info_buttons2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#info-btn:hover {
    background-position: 0 -76px;
}
#info-btn.show {
    background-position: 0 -38px;
}
#info-overlay { /* lex made some changes here */
    text-align: right;
    display: none;
    margin: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 6;
    text-align: center;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
#info-overlay.show {
    display: block;
    opacity: 0.85;
    filter: alpha(opacity=85);
}
#info-overlay #text {
    position: absolute;
    width: 60%;
    display: table;
    margin-top: 10%;
    margin-left: 20%;
}
#info-overlay #social {
    position: fixed;
    left: 50%;
    bottom: 80px;
    width: 200px;
    height: 40px;
    margin: 0 0 0 -100px;
    text-align: center;
}
#channel-buttons {
    font-size: 12pt;
    position: absolute;
    right: 16px;
    top: 48px;
    margin: 0;
}

#channel-buttons li {
    text-align: center;
    list-style-type: none;
    font-weight: bold;
    background-color: #FFFFFF;
	opacity: 0.7;
    height: 20px;
    width: 100px;
    padding: 10px;
    margin: 0px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
#channel-buttons li:hover {
    background-color: #eee;
    border-radius: 50px;
}
#channel-buttons li.selected {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
}
a:link      {text-decoration: none; color: #000}
a:visited   {text-decoration: none; color: #000}
a:hover         {text-decoration: none; color: #000}
a:active    {text-decoration: none; color: #000}

#info-overlay a:link        {text-decoration: none; color: #00f}
#info-overlay a:visited     {text-decoration: none; color: #00f}
#info-overlay a:hover       {text-decoration: none; color: #00f}
#info-overlay a:active      {text-decoration: none; color: #00f}

#channel-buttons li.selected a:link         {text-decoration: none; color: #fff}
#channel-buttons li.selected a:visited  {text-decoration: none; color: #fff}
#channel-buttons li.selected a:hover        {text-decoration: none; color: #fff}
#channel-buttons li.selected a:active       {text-decoration: none; color: #fff}
