html,
body {
    padding:0;
    margin:0;
    width:100%;
    height:100%;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

h1 {
    clear: both;
    font-size: 2em;
    text-align: center;
    display: block;
    color: #dacdb8;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position:relative;
    top: 30%;
    margin: 0 auto;
}

#JoinButton {
    cursor: pointer;
    position: relative;
    background: #e96e57;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3px;
    padding: 1em 1.5em;
    margin: 0 10px;
    box-shadow: 0 4px #AC422E;
}

#JoinButton:hover {
    top: 2px;
    box-shadow: 0 2px #AC422E;
}

#JoinButton:active {
    cursor: pointer;
    top: 4px;
    box-shadow: none;
}

bio,
social_twitter,
social_facebook,
apple {
    font-family: monaco;
    font-size: 9px;
    color: #000000;
    position: relative;
    top: 5px;
    margin: 0 0 0 5px;
    height: 20px;
}

bio {
    position: absolute;
    left: 0;
    width: 100%;
    height: 20px;
    overflow: visible;
    text-align: right;
    margin: 0;
    padding: 0;
}

social_twitter,
social_facebook,
apple {
    font-size: 10px;
    text-align: left;
    float: left;
}

social_twitter {
    width: 100px;
}

#AboutButton {
    text-decoration: none; color: #FFFFFF; background: #e96e57; border-radius: 3px; 
    display: inline-block; height: 20px; line-height: 20px; margin-left: 5px; margin-top: 25px; overflow: hidden; text-align: center; padding: 0 5px;
    position: absolute;
    left: 0;
    z-index: 10;
    width: 45px;
}
#hideaway {
    display:none; border:0px; margin:0px; 
    position: absolute; top: -5px; left: 0; 
    width: 320px; text-align: left;
}
#AboutContent {
    background: white; background: rgba(255,255,255,.6); 
    color: #000; font-weight: bold; text-decoration: none; 
    padding: 50px 0 0 0; margin-left: auto; heighttext-align: left; z-index:-1; 
    opacity: 0.75; filter:alpha(opacity=75); 
    box-shadow: -2px 2px 5px rgba(0,0,0,0.15); 
    border: 1px solid #fff;
    border: 1px solid rgba(255,255,255,.65);
    border-right: 0;
    border-top: 0;
}
#AboutContent p {
    padding: 7px;
    margin: 0 0 0 0px;
}

@media only screen and (max-width : 1000px) {
    h1 {
        text-align: center;
    }
    #MessagePrefix,
    #MessagePostfix {
        display: block;
        width: 100%;
        text-align:center;
        margin: 10px 0 5px 0;
    }
    #JoinButton { display: inline-block; }
}

@media only screen
and (max-width : 600px) {
    #MessagePrefix,
    #MessagePostfix {
        font-size: .7em;
    }
    #MessagePrefix,
    #MessagePostfix,
    #JoinButton {
        display: block;
        text-align:center;
    }
}


@media only screen
and (max-width : 400px) {
    #AboutButton span { display: none; }
    #hideaway { width: auto; padding: 0; margin: 0; }
    #AboutContent { width: inherit; border: none; border-bottom: 1px solid #fff;  }
}


@media only screen
and (max-device-width : 800px) {
    html,
    body {
        height:95%;
    }
}


/* all new styles after this point */
#info-btn {
  width: 38px;
  height: 37px;
  position: absolute;
  cursor: pointer;
  z-index: 9;
  top: 16px;
  right: 16px;
  background: url("../images/info_buttons.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
#info-btn:hover {
  background-position: 0 -76px;
}
#info-btn.show {
  background-position: 0 -38px;
}
#info-overlay {
  width: 100%;
  height: 100%;
  background: #fff;
  left: 100%;
  top: 0px;
  position: absolute;
  z-index: 6;
  text-align: center;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
#info-overlay.show {
  opacity: 1;
  left: 0px;
}
#info-overlay #text {
  position: absolute;
  width: 70%;
  height: 80%;
  display: table;
  top: 0px;
  left: 15%;
}
#info-overlay #social {
  position: fixed;
  left: 50%;
  bottom: 80px;
  width: 200px;
  height: 40px;
  margin: 0 0 0 -100px;
  text-align: center;
}
#channel-buttons {
  position:absolute;
  left:0px;
  top:0px;
  background: white;
  visibility: hidden;
}
#channel-buttons .selected {
    font-weight: bold;
}